.page-title, h2 {
  text-align: center;
}

#dog-logo {
  width: 100px;
}

#logo-container, .register-container {
  display: flex;
  justify-content: center;
}

#logo-container {
  padding-top: 2%;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
}

.account-type-container {
  font-size: 16px;
}

.button-container {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  margin-top: 10px;
}

button, input[type=submit] {
  width: 150px;
  height: 30px;
  border-radius: 4px;
  margin-top: 7px;
  margin-bottom: 20px;
}

.combined-input-form {
  display: grid;
  padding-left: 20%;
  padding-right: 20%;
}

.checkbox-container {
  display: grid;
  justify-items: left;
}

.table-container, .loading-header {
  display: flex;
  justify-content: center;
  overflow-x: auto;
}

table, th, td:not(.day) {
  border: 1px solid;
  padding: 10px;
  border-collapse: collapse;
  width: 100%;
}

.day {
  text-align: center;
  border-top: 1px solid;
}

table {
  width: 50%;
}

th, tr:hover {
  background-color: antiquewhite;
}

/* #mon-head:hover #mon {
  background-color: rgb(250, 211, 160);
} */