.page-title, h2 {
  text-align: center;
}

#dog-logo {
  width: 100px;
}

#logo-container, .register-container {
  display: flex;
  justify-content: center;
}

#logo-container {
  padding-top: 2%;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
}

.account-type-container, .button-container {
  display: flex;
  justify-content: center;
  column-gap: 5px;
  margin-top: 10px;
}

.button-container {
  column-gap: 10px;
}

button {
  width: 150px;
  height: 30px;
  border-radius: 4px;
  margin-top: 7px;
  margin-bottom: 20px;
}

.combined-input-form {
  display: grid;
  padding-left: 20%;
  padding-right: 20%;
}

.checkbox-container {
  display: grid;
  justify-items: left;
}

legend {
  font-weight: bold;
  font-size: medium;
}

.table-container, .loading-header {
  display: flex;
  justify-content: center;
  overflow-x: auto;
}

table, th, td:not(.day) {
  border: 1px solid;
  padding: 10px;
  border-collapse: collapse;
}

.day {
  text-align: center;
  border-top: 1px solid;
}

th, tr:hover {
  background-color: antiquewhite;
}

#welcome-message {
  text-align: center;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  align-items: center;
}

.dash-item {
  /* border: 3px solid black; */
  padding: 10px;
  text-align: center;
  justify-self: center;
  width: 80%;
}